<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'customRequest.editorTitle' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <vc-editor
      [editable]="false"
      (request)="onRequestChanged($event)"
    ></vc-editor>
    <div *ngIf="!invalidJSON" class="vc-box-display-error">
      <p>{{ 'customRequest.invalidJson' | translate }}</p>
    </div>

    <div>
      <p>{{ 'customRequest.chooseChannel' | translate }}</p>
      <mat-button-toggle-group
        [(ngModel)]="channel"
        (valueChange)="onChannelChanged($event)"
        [attr.aria-label]="'customRequest.submissionMethod' | translate"
      >
        <mat-button-toggle value="redirects">{{ 'customRequest.channelRedirects' | translate }}</mat-button-toggle>
        <mat-button-toggle value="dc-api">DC API</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-card-content>
</mat-card>
