<header class="container">
  <div class="brand" (click)="goHome()">
    <img class="brand-logo" src="assets/trusteq-logo.png" alt="TRUSTEQ - EUDI Demo Wallet" />
    <span class="role-badge">Verifier</span>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" [attr.aria-label]="'header.menu' | translate">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a id="inspectLogs" mat-menu-item (click)="inspectLogs()"
      >{{ 'header.inspectLogs' | translate }}</a
    >
    <a id="issuerChain" mat-menu-item (click)="changeIssuerChain()"
      >{{ 'header.configureIssuerChain' | translate }}</a
    >
  </mat-menu>
</header>
