<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'presentationOptions.title' | translate }}</mat-card-title>
    <mat-card-subtitle>
      {{ 'presentationOptions.subtitle' | translate }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="request-options-grid">
      <div class="request-options-row">
        <div class="request-options-label">
          <span>{{ 'presentationOptions.profileLabel' | translate }}</span>
          <p class="request-options-helper">
            {{ 'presentationOptions.profileHelper' | translate }}
          </p>
        </div>
        <div class="request-options-control">
          <mat-button-toggle-group
            [formControl]="presentationProfileControl"
            (valueChange)="handlePresentationProfileChange($event)"
            [attr.aria-label]="'presentationOptions.profileLabel' | translate"
          >
          <mat-button-toggle value="haip">HAIP</mat-button-toggle>
            <mat-button-toggle value="openid4vp">OpenID4VP</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="request-options-row">
        <div class="request-options-label">
          <span>{{ 'presentationOptions.requestUriMethodLabel' | translate }}</span>
          <p class="request-options-helper">
            {{ 'presentationOptions.requestUriMethodHelper' | translate }}
          </p>
        </div>
        <div class="request-options-control">
          <mat-button-toggle-group
            [formControl]="requestUriMethodControl"
            (valueChange)="handleRequestUriMethodChange($event)"
            [attr.aria-label]="'presentationOptions.requestUriMethodLabel' | translate"
          >
            <mat-button-toggle value="get">GET</mat-button-toggle>
            <mat-button-toggle value="post">POST</mat-button-toggle>
            <mat-button-toggle value="post_get">{{ 'presentationOptions.postOrGet' | translate }}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="request-options-row">
        <div class="request-options-label">
          <span>{{ 'presentationOptions.authEndpointLabel' | translate }}</span>
          <p class="request-options-helper">
            {{ 'presentationOptions.authEndpointHelper' | translate }}
          </p>
        </div>
        <div class="request-options-control">
          <mat-form-field class="config-option-field">
            <mat-label>{{ 'presentationOptions.authEndpointLabel' | translate }}</mat-label>
            <input
              matInput
              placeholder="scheme://"
              [formControl]="authorizationSchemeControl"
              autocomplete="off"
              (input)="
                handleAuthorizationSchemeChange(authorizationSchemeControl.value)
              "
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
