<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title><span>{{ 'presentationOptions.regCertLabel' | translate }}</span></mat-panel-title>
  </mat-expansion-panel-header>

  <div class="request-options-grid">
    <div class="request-options-row">
      <div class="request-options-label">
        <span>{{ 'presentationOptions.intendedUseLabel' | translate }}</span>
        <p class="request-options-helper">
          {{ 'presentationOptions.intendedUseHelper' | translate }}
        </p>
      </div>
      <div class="request-options-control">
        <mat-form-field class="config-option-field">
          <mat-label>{{ 'presentationOptions.intendedUseLabel' | translate }}</mat-label>
          <mat-select
            matNativeControl
            [formControl]="intendedUseControl"
            (selectionChange)="onIntendedUseSelectionChange($event)"
          >
            <mat-option [value]="null">{{ 'presentationOptions.noneOption' | translate }}</mat-option>
            <mat-option
              *ngFor="let use of intendedUses"
              [value]="use.intended_use_id"
            >
              {{ use.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="request-options-row" *ngIf="selectedIntendedUse">
      <div class="request-options-label">
        <p class="request-options-helper">
          {{ 'presentationOptions.regCertWillBeUsed' | translate }}
        </p>
      </div>
      <div class="request-options-control">
        <div class="registration-certificate-display">
          <span class="registration-certificate-value" [title]="selectedIntendedUse.registration_certificate">
            {{ truncatedRegistrationCertificate }}
          </span>
          <button
            mat-icon-button
            [matTooltip]="'presentationOptions.copyRegCert' | translate"
            [cdkCopyToClipboard]="selectedIntendedUse.registration_certificate"
            [attr.aria-label]="'presentationOptions.copyRegCertAriaLabel' | translate"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="request-options-row">
      <div class="request-options-label">
        <span>{{ 'presentationOptions.regCertLabel' | translate }}</span>
        <p class="request-options-helper">
          {{ 'presentationOptions.regCertHelper' | translate }}
        </p>
      </div>
      <div class="request-options-control">
        <mat-form-field class="config-option-field">
          <mat-label>{{ 'presentationOptions.regCertLabel' | translate }}</mat-label>
          <input
            matInput
            [placeholder]="'presentationOptions.regCertPlaceholder' | translate"
            [formControl]="registrationCertificateControl"
            autocomplete="off"
            (input)="onRegistrationCertificateInput($event)"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-expansion-panel>
