<div >
    <h2 mat-dialog-title>{{label | translate}}</h2>
    <mat-dialog-content class="mat-typography">
      <div class="dialog-container">
        <div *ngIf="isInspectLogs" class="inspect-logs">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>{{ 'openLogs.transactionId' | translate }}</mat-label>
                <input type="scheme" matInput [formControl]="schemeControl" [errorStateMatcher]="matcher" [placeholder]="'openLogs.transactionIdPlaceholder' | translate">
              </mat-form-field>
              <vc-button class="vc-button" name="header.inspectLogs" id="inspectLogs" mode="none" [isDisabled]="schemeControl.invalid" color="primary" (clicked)="inspectLogs()"></vc-button>
            </form>
        </div>
        <vc-show-logs *ngIf="transactionId" [transactionId]="transactionId"></vc-show-logs>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>{{ 'actions.close' | translate }}</button>
    </mat-dialog-actions>
</div>

