<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'presentationOptions.title' | translate }}</mat-card-title>
    <mat-card-subtitle>
      {{ 'presentationOptions.subtitle' | translate }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="dcApiSupported; else unsupported">
      <div class="request-options-grid">
        <div class="request-options-row">
          <div class="request-options-label">
            <span>{{ 'presentationOptions.profileLabel' | translate }}</span>
            <p class="request-options-helper">
              {{ 'presentationOptions.profileHelper' | translate }}
            </p>
          </div>
          <div class="request-options-control">
            {{ 'presentationOptions.rulesDefinedBy' | translate }}
            <a
              target="_blank"
              href="https://www.etsi.org/deliver/etsi_ts/119400_119499/11947202/01.02.01_60/ts_11947202v010201p.pdf"
              >ETSI TS 119 472-2 v1.2.1</a
            >
          </div>
        </div>

        <div class="request-options-row">
          <div class="request-options-label">
            <span>{{ 'presentationOptions.expectedOrigins' | translate }}</span>
            <p class="request-options-helper">
              {{ 'presentationOptions.expectedOriginsHelper' | translate }}
            </p>
          </div>
          <div class="request-options-control">
            <mat-form-field class="config-option-field">
              <mat-label>{{ 'presentationOptions.expectedOrigins' | translate }}</mat-label>
              <input
                matInput
                [placeholder]="defaultOrigins"
                [formControl]="expectedOriginsControl"
                (input)="
                  handleExpectedOriginsChange(expectedOriginsControl.value)
                "
                [attr.aria-label]="'presentationOptions.expectedOrigins' | translate"
                autocomplete="off"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #unsupported>
      <div class="unsupported-message">
        <p>{{ 'presentationOptions.dcApiUnsupported' | translate }}</p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
